<%= render 'shared/page_title', title: "Create a new Style" %>
<%= render 'shared/errors', obj: @style %>
<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= simple_form_for @style, wrapper: :horizontal_form,html: {class: 'form-horizontal'} do |f| %>
        <%= f.input :name %>
        <%= f.button :submit, 'Create Style', class: "btn btn-success" %>
    <% end %>
  </div>
</div>